.chat-message__s{id: "data-message_id: #{message.id}"}
  .chat-message__upper-info
    %p.chat-message__upper-info__talker
      = message.user.name
    %p.chat-message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-message_a
    - if message.content.present?
      %p.chat-message_a__text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
